.trophies {
    display: flex;
    flex-direction: column-reverse;
} 

  .trophy {
      width: 32%;
      margin: 0 auto 30px;
    }
    
    .trophy:nth-child(n) {
      margin-left: 34%;
      margin-right: 34%;
    }