/* Font's
   Regular 
*/

@font-face {
	font-family: 'Open Sans';
	font-weight: normal;
	src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
}

/* Bold */

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;
	src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
}

/* Main styles */

*, :after, :before {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

body {
	margin: 0;
	font-family: 'Open Sans', Arial, sans-serif;
}

a {
	margin: 0;
	outline: 0;
	padding: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
	border: 0;
	color: inherit;
}

header.header {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
	background-color: rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Open Sans';
	font-weight: bold;
	list-style: none;
}

h1 {
	font-size: 45px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

p {
    margin: 0 0 17px;
}

ul {
  list-style: none;
}

/* Page header */

.header {
	position: relative;
	padding: 35px 15px 0;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.6;
}
.header .container {
	position: relative;
	z-index: 10;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.header-logo {
	width: 182px;
}

/* Menu */

.menu {
	padding-top: 45px;
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.menu-link {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 13px;
	color: #fff;
}

.menu-list-item:nth-child(n+2) {
	padding-left: 35px;
}

/* Banner */

.banner {
	position: relative;
	z-index: 10;
	margin-right: auto;
	margin-left: auto;
	padding: 137px 0;
	text-transform: uppercase;
	text-align: center;
	line-height: 75px;
	color: #fff;
}

/* Home page */

.container {
	width: 1200px;
	max-width: 100%;
	margin: 63px auto 70px;
	padding: 0 15px;
	clear: both;
}

.main {
  width: 778px;
}

article {
	display: block;
}

.publication {
	overflow: hidden;
  width: 778px;
	margin-bottom: 60px;
}

.publication:last-child {
	margin-bottom: 0;
}

.publication-preview {
	float: left;
  width: 50%;
  margin-right: 30px;
}

.content {
  float: right;
  width: 46%;
}

.int-header .cat-links a {
	margin: 0 18px 14px 0;
}

.publication-img {
	width: 381px;
}

.cat-links {
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #b59f5b;
}

.title h2 a {
  text-decoration: none;
  
  color: inherit;
}

h2.title {
  margin: 14px 0 37px;
  line-height: 24px;
  color: #0f0d0e;
}

.content .date {
  margin-right: 15px;
  
  font-size: 12px;
  font-weight: normal;
  
  color: #888;
}

.author {
  display: inline-block;
  
  font-size: 12px;
  font-weight: bold;
}

.int-content {
  margin-top: 52px;
  
  font-size: 15px;
}

/* Sidebar */

.sidebar {
  float: right;
  width: 272px;
}

.section {
  clear: both;
  display: block;
  margin-bottom: 62px;
}

.section:first-child {
  margin-bottom: 60px;
}

h3.title {
  position: relative;
  
  margin-bottom: 40px;
  
  text-align: center;
}

h3.title:first-child {
  margin-bottom: 45px;
}

h3.title:after {
  content: '';
  
  position: absolute;
  right: 38%;
  bottom: -14px;
  margin-top: 14px;
  
  width: 66px;
  height: 3px;
  
  background: #b59f5b;
  opacity: .4;
}

.section ul {
  margin-bottom: 0;
  margin-left: 0;
  
  list-style: none;
}

.last-publication ul li {
  display: block;
  overflow: hidden;
  margin-bottom: 22px;
}

.last-publication ul li .pub-miniature {
  float: left;
  width: 72px;
  margin-right: 16px;
}

.last-publication a {
  display: block;
  
  color: #000;
}

.last-publication .pub-date {
  display: block;
  margin-bottom: 7px;
  font-size: 12px;
  color: #000;
  opacity: 0.54;
}

/* Search Form */
.search-aside form {
  position: relative;
}

.screen-text {
  position: absolute;
  
  width: 1px;
  height: 1px;
  
  word-wrap: normal;
  
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
}

input {
  width: 100%;
  height: 48px;
  
  padding: 17px;
  
  font-size: 13px;
  
  background-color: #f4f7f6;
  border: none;
  border-radius: 0;
  
  -webkit-appearance: textfield;
}

.search-aside .search-submit {
  position: absolute;
  top: 0;
  right: 0;
  
  width: 49px;
  height: 48px;
  padding: 0;
  
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  border: 0;
  
  cursor: pointer;
}

.search-submit:hover {
  background-color: #4f5146;
}

.search-field:focus {
  border: 0;
}

/* Sudscribe */
.field {
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 18px 0;
  
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  
  color: #fff;
  background-color: #b59f5b;
  border-style: none;
  
  cursor: pointer;
}

/* Tags */
.tags .tags-board {
  overflow: hidden;
}

.tags .tags-board a {
  position: relative;
    
  float: left;
  margin: 0 5px 6px 0;
  padding: 7px 15px;
  
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.tags .tags-board a:before {
    content: '';
  
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    border: 3px solid #f4f3f1;
}

/* Categories */
.categories li a {
  
  display: inline-block;
  margin-right: 6px;
  
  font-size: 14px;
  font-weight: bold;
  
  color: #000;
}

.categories li {
  padding: 18px 2px 13px;
  
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  
  border-bottom: 1px solid #e2e2e3;
  color: #b59f5b;
  list-style: none;
}

.cat-cnt {
  position: absolute;
  
  margin-top: -3px;
}

/* Footer 
   Social icons
*/

.footer-social {
  width: 1200px;
  height: 83px;
  max-width: 100%;
  margin: 70px auto 70px;
  
  background-color: #f7f4f4;
  
  clear: both;
}

.footer-social .container {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.center {
  display: block;
  
  text-align: center;
}

.social {
  display: flex;
  margin: auto;
}

.social-link:nth-child(n+2) {
  padding-left: 28px;
}

.icon {
  width: 20px;
}

.twitter-icon {
  width: 20px;
  height: 20px;

  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.copy-right {
  display: block;
  
  padding-bottom: 33px;
  
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  
  color: #999;
  
  clear: both;
}