@media (max-width: 960px) {

    .aside__menu {
        display: none;
    }    

}

@media (min-width: 961px) {

    .page {
        display: flex;
        flex-direction: row-reverse;
    }

    .aside {
        flex-shrink: 0;
        width: 320px;
        margin-right: 40px;
    }

}